* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-image: linear-gradient(to right bottom, #22254b, #22253c);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; /* fits whole vh  */
}

/* HEADER */
.header {
  margin: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
  height: 100px;
}

.search-field {
  width: 20rem;
  height: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.search-field::placeholder {
  opacity: 0.5;
  text-align: center;
}

.search-btn {
  width: 4rem;
  height: 1.8rem;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

/* MOVIE */
.movie-collection {
  display: flex;
  flex-wrap: wrap; /* essential: makes movies wrap to the next line IMP */
  justify-content: space-evenly;
}

.movie-card {
  background-color: #615592;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 282px;
  min-height: 558px;
  margin: 1rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.movie-info {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes rating to the right */
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-title {
  padding-right: 10px;
}

.movie-info span {
  background-color: #22253c;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.movie-desc {
  display: none; /* only show on hover */
  margin: 0.5rem 0rem;
  width: 70%;
  justify-content: center;
  background-color: white;
}

.movie-poster {
  width: 100%; /* take up whole movie card width */
  height: 423px;
}
