* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-image: linear-gradient(to right bottom, #fbd3, #f45482);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

/* HEADER */
.header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  width: 20rem;
  height: 1.2rem;
}

.search-btn {
  width: 4rem;
  height: 1.2rem;
}

/* works for now, need to position it in the middle of the page, below search form (for now) */
/* MOVIE */
.movie-collection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.movie-card {
  margin: 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.movie-title {
  text-align: center;
  font-size: 1.5rem;
}

.movie-desc {
  display: flex;
  margin: 0.5rem 0rem;
  width: 80%;
  justify-content: center;
}

.movie-poster {
  height: 300px;
}
