* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-image: linear-gradient(to right bottom, #fbd3, #f45482);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 98.5vh; /* fits whole vh  */
}

/* HEADER */
.header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  width: 20rem;
  height: 1.2rem;
}

.search-btn {
  width: 4rem;
  height: 1.2rem;
}

/* works for now, need to position it in the middle of the page, below search form (for now) */
/* MOVIE */
.movie-collection {
  display: flex;
  flex-wrap: wrap; /* essential: makes movies wrap to the next line IMP */
  justify-content: space-evenly;
}

.movie-card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 282px;
  margin: 1rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/*
  width: 282px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
*/

.movie-title {
  font-size: 2rem;
}

.movie-desc {
  display: none; /* only show on hover */
  margin: 0.5rem 0rem;
  width: 70%;
  justify-content: center;
  background-color: white;
}

.movie-poster {
  width: 100%; /* take up whole movie card width */
  height: 423px;
}
