:root {
  --main-color: #615551;
  --secondary-color: #615592;
  --third-color: #ffbade;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #22254b, #22253c);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; /* fits whole vh  */
}

/* HEADER */
.header {
  margin: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
  height: 100px;
}

.search-field {
  width: 20rem;
  height: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.search-field::placeholder {
  opacity: 0.5;
  text-align: center;
}

.search-btn {
  width: 4rem;
  height: 1.8rem;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

/* MOVIE */
.movie-collection {
  display: flex;
  flex-wrap: wrap; /* essential: makes movies wrap to the next line IMP */
  justify-content: space-evenly;
}

.movie-card {
  background-color: #615592;
  display: flex;
  flex: 1 1 25ch; /* TEST */
  align-items: center;
  flex-direction: column;
  width: 282px;
  /* min-height: 558px; */
  min-height: 530px;
  max-width: 260px; /* TEST */
  margin: 1rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* No less than 1632px, no greater than 1904px */
@media (min-width: 1632px) and (max-width: 1904px) {
  .movie-card {
    flex: 1 1 20ch;
  }
}

.movie-info {
  color: whitesmoke;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  height: 100%;
}

.movie-title {
  padding-right: 10px;
  font-size: 1.3rem;
  width: 80%;
}

.movie-info span {
  background-color: #22253c;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  width: 40px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.movie-desc {
  display: none; /* only show on hover */
  margin: 0.5rem 0rem;
  width: 70%;
  justify-content: center;
  background-color: white;
}

.movie-card a {
  height: 423px; /* this was 430px by default for some reason */
}

.movie-poster {
  width: 100%; /* take up whole movie card width */
  height: 423px;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
}

/* .btn-pag {
  border-radius: 50%;
  width: 30px;
  background-color: #615592;
  font-size: 1.5rem;
} */

.pagination-list {
  margin-top: 20px;
  list-style: none;
  display: flex;
  gap: 1px;
  width: 500px;
  justify-content: center;
}

.pag-item {
  margin: 3px;
}

.pag-item .active {
  color: #ffbade;
}

.pag-link {
  display: block;
  background-color: #615592;
  color: white;
  border-radius: 30px;
  line-height: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
}
